{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}

<article class="blog-article">
    <header>
        <h1>{title}</h1>
    </header>
    <div class="content">
        <ts:render path="main" context="{node:node}"/>
    </div>
    <footer>
        <div class="blog-meta">
            <p>Gepubliceerd op {publicationDate -> f:format.date(format:'d-m-Y')} | <a href="{permalink}"><i
                    class="fa fa-link"></i> permalink</a></p>
        </div>
        <ul
        {shareLinks.attributes -> f:format.raw()}>
        <f:for each="{shareLinks.links}" as="link">
            <li>{link -> f:format.raw()}</li>
        </f:for>
        </ul>
    </footer>
</article>
