{namespace neos=Neos\Neos\ViewHelpers}
<f:if condition="{items}">
    <f:then>
        <ul class="no-bullet latest-blog">
            {items -> f:format.raw()}
        </ul>
    </f:then>
    <f:else>
        <p>Sorry, we couldn't find any blog.</p>
    </f:else>
</f:if>

<f:section name="item">
    <li>
        <strong>{node.properties.publicationDate -> f:format.date(format: 'd-m-Y')}</strong>
        {node.properties.title} &mdash; {intro -> f:format.raw()}
        <neos:link.node node="{node}" class="latest-blog-readmore">
			<span class="fa-stack">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-angle-right fa-inverse fa-stack-1x"></i>
			</span>
        </neos:link.node>
    </li>
</f:section>